.App{
  display: flex;
  justify-content: space-between;
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 40px;
}


.form{
  margin-top: 50px;
  margin-left:auto ;
  margin-right: auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.form >input{
  padding: 10px;
  border: 2px solid whitesmoke;
  outline: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form > button{
  cursor: pointer;
  background-color:#025464;
  color: whitesmoke;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
}

.form > button:hover{
  background-color: whitesmoke;
  color:#025464 ;
}

.header{
  width: 20vw;
  color: #025464;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.map{
  margin-top: 20px;
  height: 80vh;
  width: 60vw;
  margin-left:auto ;
  margin-right: auto;
  padding: 5px;
  
}

